{% extends "shop/base.html" %}

{% block title %}Home - Magia{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Welcome to Magia</h1>
    <p class="lead">Your one-stop shop for all the latest products.</p>
    <a href="/products/" class="btn btn-primary btn-lg mt-3">Shop Now</a>
</div>

<hr class="my-5">

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://bestor.in/cdn/shop/files/Bestor_Digital_Graphic_Tablet_01-removebg-preview.png?v=1694426388" class="card-img-top" alt="Drawing Tablet">
            <div class="card-body">
                <h5 class="card-title">Drawing Tablet</h5>
                <p class="card-text">Drawing Tablet with stylus.</p>
                <a href="/products/" class="btn btn-outline-primary">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="https://bsimg.nl/images/apple-iphone-16-256gb-zwart-eu_1.png/0mzkkxej_w_oVeZx3QDqr4a05-o%3D/fit-in/257x400/filters%3Aformat%28png%29%3Aupscale%28%29" class="card-img-top" alt="iPhone 16">
            <div class="card-body">
                <h5 class="card-title">iPhone 16</h5>
                <p class="card-text">Apple Smartphone.</p>
                <a href="/products/" class="btn btn-outline-primary">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="https://cdn11.bigcommerce.com/s-8ek7z3h3jn/images/stencil/590x590/products/10068/59647/aoc-27-cq27g2sbk-curved-gaming-monitor-va-165hz-qhd-or-cq27g2sbk__73802.1722438361.jpg?c=1" class="card-img-top" alt="PC Monitor">
            <div class="card-body">
                <h5 class="card-title">PC Monitor</h5>
                <p class="card-text">144hz Monitor.</p>
                <a href="/products/" class="btn btn-outline-primary">View</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
